@import '../../style/common.scss';
.exp-detail-header {
  height: 6rem;
  border-bottom: 0.1rem solid #eee;
  @include shadow;
  img {
    @include circular(2rem);
    vertical-align: middle;
    margin: 1rem 1rem 2.4rem 1rem;
  }
  p {
    display: inline-block;
    margin: 0;
    font-size: 1.8rem;
    width: 12rem;
    @include text-deal;
  }
}
.exp-detail-section {
  box-sizing: border-box;
  padding: 1rem 1.6rem;
  p {
    font-size: 1.6rem;
    margin: 0.4rem 0;
    &.segment {
      padding-bottom: 0.6rem;
      border-bottom: 0.1rem dashed #eeeeee;
    }
    small {
      display: inline-block;
      line-height: 1.6rem;
      margin: 0.6rem 1rem 0.6rem 1rem;
    }
  }
}
.exp-detail-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 90%;
    height: 4rem;
    border-radius: 0.6rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #fff;
    border-style: none;
    background-color: $green;
  }
  p {
    text-align: center;
    font-size: 1rem;
    color: rgb(194, 193, 193);
  }
}